{control form}

<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-10">
        <table class ="table table-condensed">
            <caption>User roles:</caption>
            <thead>
                <tr>
                    <th>role</th>
                    <th>order</th>
                </tr>                
            </thead>
            <thead>
                <tr n:foreach="$userRoles as $order => $userRole" >
                    <td>{$userRole}</td>
                    <td>{$order}</td>
                </tr>                
            </thead>



        </table>

    </div>  

</div>


